.menu{
width: 20%;
height: 100%;
background-color: #a70000;
float: left;

}

.plan{
background-color: #771616;
width: 80%;
height: 100%;
float: right;
}

h4{
margin: 35px 0px 0px 35px;
font-family: Segoe UI;
color: White;
line-height: 2;
}

h2{
margin: 50px;
font-family: Segoe UI;
color: White;
}

.tytul{
height: 50px;
width: 120px;
border: 5px solid transparent;
font-family: Segoe UI;
background-color: #a70000;
color: white;
float: left;
margin: 2px;
text-align: center;
line-height: 50px;
vertical-align: middle;
}

.tresc{
height: 50px;
width: 120px;
border: 5px solid transparent;
font-family: Segoe UI;
background-color: #d70808;
color: white;
float: left;
margin: 2px;
text-align: center;
line-height: 50px;
vertical-align: middle;
}

.tresc2{
height: 50px;
width: 120px;
border: 5px solid transparent;
font-family: Segoe UI;
background-color: #cd2929;
color: white;
float: left;
margin: 2px;
text-align: center;
line-height: 50px;
vertical-align: middle;
}

.rama{width: 900px;}